a.no-link {
    cursor: default !important;
}

#commitMap {
    width: 100%;
    height: 100%;
    z-index: 1;
    /* background-color: rgba(6, 120, 190, 1); */
}

#commitMapOverlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.5);
}

#commitMap .ol-overlaycontainer-stopevent {
    z-index: 3;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#commitMap .ol-overlaycontainer-stopevent .ol-zoom {
    z-index: 3;
    position: absolute;
    top: 10px;
    left: 10px;
}

#commitMap .ol-panzoom {
    z-index: 3;
    position: absolute;
    top: 10px;
    left: 10px;
}

#commitMap .ol-overlaycontainer-stopevent .ol-full-screen {
    z-index: 3;
    position: absolute;
    top: 10px;
    left: auto;
    right: 20px;
}

#commitMap .ol-overlaycontainer-stopevent .ol-rotate {
    z-index: 3;
    position: absolute;
    top: 50px;
    left: auto;
    right: 20px;
}

.ol-popup {
    display: none;
    position: absolute;
    background-color: white;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    -webkit-filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
    border-radius: 10px;
    border: 1px solid #064771;
    bottom: 12px;
    left: -50px;
    min-width: 250px;
    padding: 5px;
}

.ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.ol-popup:after {
    border-top-color: #ffffff;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}

.ol-popup:before {
    border-top-color: #064771;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}

.ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
}

.ol-popup-closer:after {
    content: "✖";
}

.ol-popup #popup-content {
    line-height: 14px;
    font-size: 12px;
}

.ol-popup #popup-content ul {
    padding-left: 20px;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
}

.ol-popup #popup-content p {
    margin-bottom: 5px;
    font-size: 13px;
    font-weight: bold;
}

.ol-popup #popup-content small {
    font-size: 12px;
}

.senary-container {
    background-color: #064771;
}

.senary-container h2 {
    padding: 1.5em 1em 1.5em 0;
    margin: 0;
    vertical-align: middle;
    font-size: 1.75em;
    font-weight: 300;
    line-height: 1.1em;
    color: #f8f8f8;
    text-transform: lowercase;
}

.summary-container {
    background: whitesmoke url('../images/bg_dotted.png') center 0;
    text-align: center;
}

.summary-container .container {
    max-width: 1000px;
}

.summary-container .col-1,
.summary-container .col-2,
.summary-container .col-3,
.summary-container .col-4 {
    padding: 0.5em 2em 0.5em 2em;
}

.summary-container .col-1 .col-inner,
.summary-container .col-2 .col-inner,
.summary-container .col-3 .col-inner,
.summary-container .col-4 .col-inner {
    color: #4e4e4e;
    font-size: 1.5em;
    padding: 10px 0 10px 75px;
}

.summary-container .col-1 .col-inner strong,
.summary-container .col-2 .col-inner strong,
.summary-container .col-3 .col-inner strong,
.summary-container .col-4 .col-inner strong {
    font-size: 1.5em;
    font-weight: 200;
}

.summary-container .col-1 .col-inner {
    background: url('../images/icon_users.png') no-repeat 15px center;
}

.summary-container .col-2 .col-inner {
    background: url('../images/icon_projects.png') no-repeat 15px center;
}

.summary-container .col-3 .col-inner {
    background: url('../images/icon_commits.png') no-repeat 15px center;
}

.summary-container .col-4 .col-inner {
    background: url('../images/icon_comments.png') no-repeat 15px center;
}

.ajax-action-button.has-spinner .spinner {
    display: inline-block;
    opacity: 0;
    width: 0;

    -webkit-transition: opacity 0.25s, width 0.25s;
    -moz-transition: opacity 0.25s, width 0.25s;
    -o-transition: opacity 0.25s, width 0.25s;
    transition: opacity 0.25s, width 0.25s;
}

.ajax-action-button.has-spinner.active {
    cursor: progress;
}

.ajax-action-button.has-spinner.active .spinner {
    opacity: 1;
    width: auto; /* This doesn't work, just fix for unkown width elements */
}

.ajax-action-button.has-spinner.btn.active .spinner,
.ajax-action-button.has-spinner.page-link.active .spinner {
    width: 16px;
    margin-top: -5px;
    margin-right: 5px;
}

/* NanoScroller */

.nano {
    width: 100%;
}

.nano .list-group {
    margin-bottom: 0;
}

/* Isotope */

.isotope-grid {
    margin-top: 25px;
    margin-bottom: 25px;
}

.isotope-grid .grid-item {
    text-align: center;
    padding: 15px;
}

.isotope-grid .grid-item img {
    margin-bottom: 15px;
}

/* Notification */

.jGrowl-notification {
    min-width: 200px;
    max-width: 300px !important;
    width: 100% !important;
    word-break: normal !important;
    background-color: rgba(6, 71, 113, 0.95) !important;
    opacity: 1 !important;
}

.jGrowl-closer {
    max-width: 300px !important;
    width: 100% !important;
    opacity: 1 !important;
    background-color: rgba(6, 71, 113, 0.95) !important;
}

.jGrowl-notification .jGrowl-header {
    font-size: 14px !important;
}

.notification-container {
    margin-top: 5px;
}

.notification-container .left-container {
    float: left;
}

.notification-container .left-container img {
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    margin: 3px 6px 0 0;
}

.notification-container .right-container {
    overflow: hidden;
}

.notification-container .right-container .message,
.notification-container .right-container .message p {
    word-break: initial;
    font-size: 13px;
    margin: 0;
    overflow: hidden;
}

.notification-container .right-container .message a,
.notification-container .right-container .message a:hover,
.notification-container .right-container .message a:visited,
.notification-container .right-container .message a:focus {
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-top: 0;
}

.notification-container .right-container .link {
    margin: 10px 0;
    overflow: hidden;
    padding: 0;
}

/* Search */

#project-search-result .search-results .visible-xs .label {
    background: #CECECE;
    color: #333333;
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
}

#project-search-pager {
    text-align: center;
}

#project-search-pager .pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

#project-search-pager .pagination > li {
    display: inline;
}

#project-search-pager .pagination > li > form {
    position: relative;
    float: left;
}

#project-search-pager .pagination > li > form > a,
#project-search-pager .pagination > li > form > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

#project-search-pager .pagination > li:first-child > a,
#project-search-pager .pagination > li:first-child > span,
#project-search-pager .pagination > li:first-child > form > a,
#project-search-pager .pagination > li:first-child > form > span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

#project-search-pager .pagination > li:last-child > a,
#project-search-pager .pagination > li:last-child > span,
#project-search-pager .pagination > li:last-child > form > a,
#project-search-pager .pagination > li:last-child > form > span {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

#project-search-pager .pagination > li > a:hover,
#project-search-pager .pagination > li > span:hover,
#project-search-pager .pagination > li > a:focus,
#project-search-pager .pagination > li > span:focus,
#project-search-pager .pagination > li > form > a:hover,
#project-search-pager .pagination > li > form > span:hover,
#project-search-pager .pagination > li > form > a:focus,
#project-search-pager .pagination > li > form > span:focus {
    z-index: 2;
    color: #23527c;
    background-color: #eee;
    border-color: #ddd;
}

#project-search-pager .pagination > .active > a,
#project-search-pager .pagination > .active > span,
#project-search-pager .pagination > .active > a:hover,
#project-search-pager .pagination > .active > span:hover,
#project-search-pager .pagination > .active > a:focus,
#project-search-pager .pagination > .active > span:focus,
#project-search-pager .pagination > .active > form > a,
#project-search-pager .pagination > .active > form > span,
#project-search-pager .pagination > .active > form > a:hover,
#project-search-pager .pagination > .active > form > span:hover,
#project-search-pager .pagination > .active > form > a:focus,
#project-search-pager .pagination > .active > form > span:focus {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}

#project-search-pager .pagination > .disabled > span,
#project-search-pager .pagination > .disabled > span:hover,
#project-search-pager .pagination > .disabled > span:focus,
#project-search-pager .pagination > .disabled > form > span,
#project-search-pager .pagination > .disabled > form > span:hover,
#project-search-pager .pagination > .disabled > form > span:focus,
#project-search-pager .pagination > .disabled > a,
#project-search-pager .pagination > .disabled > a:hover,
#project-search-pager .pagination > .disabled > a:focus,
#project-search-pager .pagination > .disabled > form > a,
#project-search-pager .pagination > .disabled > form > a:hover,
#project-search-pager .pagination > .disabled > form > a:focus {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
}

#project-search-pager .pagination-lg > li > a,
#project-search-pager .pagination-lg > li > form > a,
#project-search-pager .pagination-lg > li > span,
#project-search-pager .pagination-lg > li > form > span {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
}

#project-search-pager .pagination-lg > li:first-child > a,
#project-search-pager .pagination-lg > li:first-child > form > a,
#project-search-pager .pagination-lg > li:first-child > span,
#project-search-pager .pagination-lg > li:first-child > form > span {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

#project-search-pager .pagination-lg > li:last-child > a,
#project-search-pager .pagination-lg > li:last-child > form > a,
#project-search-pager .pagination-lg > li:last-child > span,
#project-search-pager .pagination-lg > li:last-child > form > span {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

#project-search-pager .pagination-sm > li > a,
#project-search-pager .pagination-sm > li > form > a,
#project-search-pager .pagination-sm > li > span,
#project-search-pager .pagination-sm > li > form > span {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
}

#project-search-pager .pagination-sm > li:first-child > a,
#project-search-pager .pagination-sm > li:first-child > form > a,
#project-search-pager .pagination-sm > li:first-child > span,
#project-search-pager .pagination-sm > li:first-child > form > span {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

#project-search-pager .pagination-sm > li:last-child > a,
#project-search-pager .pagination-sm > li:last-child > form > a,
#project-search-pager .pagination-sm > li:last-child > span,
#project-search-pager .pagination-sm > li:last-child > form > span {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
