#commitMap {
    width: 100%;
    height: 100%;
    z-index: 1;
    /* background-color: rgba(6, 120, 190, 1); */
}

#commitMapOverlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.5);
}

#commitMap .ol-overlaycontainer-stopevent {
    z-index: 3;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#commitMap .ol-overlaycontainer-stopevent .ol-zoom {
    z-index: 3;
    position: absolute;
    top: 10px;
    left: 10px;
}

#commitMap .ol-overlaycontainer-stopevent .ol-full-screen {
    z-index: 3;
    position: absolute;
    top: 10px;
    left: auto;
    right: 20px;
}

#commitMap .ol-overlaycontainer-stopevent .ol-rotate {
    z-index: 3;
    position: absolute;
    top: 50px;
    left: auto;
    right: 20px;
}

.senary-container {
    background-color: #064771;
}

.senary-container h2 {
    padding: 1.5em 1em 1.5em 0;
    margin: 0;
    vertical-align: middle;
    font-size: 1.75em;
    font-weight: 300;
    line-height: 1.1em;
    color: #f8f8f8;
    text-transform: lowercase;
}

.summary-container {
    background: whitesmoke url('../images/bg_dotted.png') center 0;
    text-align: center;
}

.summary-container .container {
    max-width: 1000px;
}

.summary-container .col-1,
.summary-container .col-2,
.summary-container .col-3,
.summary-container .col-4 {
    padding: 0.5em 2em 0.5em 2em;
}

.summary-container .col-1 .col-inner,
.summary-container .col-2 .col-inner,
.summary-container .col-3 .col-inner,
.summary-container .col-4 .col-inner {
    color: #4e4e4e;
    font-size: 1.5em;
    padding: 10px 0 10px 75px;
}

.summary-container .col-1 .col-inner strong,
.summary-container .col-2 .col-inner strong,
.summary-container .col-3 .col-inner strong,
.summary-container .col-4 .col-inner strong {
    font-size: 1.5em;
    font-weight: 200;
}

.summary-container .col-1 .col-inner {
    background: url('../images/icon_users.png') no-repeat 15px center;
}

.summary-container .col-2 .col-inner {
    background: url('../images/icon_projects.png') no-repeat 15px center;
}

.summary-container .col-3 .col-inner {
    background: url('../images/icon_commits.png') no-repeat 15px center;
}

.summary-container .col-4 .col-inner {
    background: url('../images/icon_comments.png') no-repeat 15px center;
}

.project-submission-button.has-spinner .spinner {
    display: inline-block;
    opacity: 0;
    width: 0;

    -webkit-transition: opacity 0.25s, width 0.25s;
    -moz-transition: opacity 0.25s, width 0.25s;
    -o-transition: opacity 0.25s, width 0.25s;
    transition: opacity 0.25s, width 0.25s;
}

.project-submission-button.has-spinner.active {
    cursor:progress;
}

.project-submission-button.has-spinner.active .spinner {
    opacity: 1;
    width: auto; /* This doesn't work, just fix for unkown width elements */
}

.project-submission-button.has-spinner.btn.active .spinner {
    width: 16px;
    margin-top: -5px;
    margin-right: 5px;
}

/* Notification */

.jGrowl-notification {
    max-width: 300px !important;
    width: 100% !important;
    word-break: normal !important;
    background-color: rgba(6, 71, 113, 0.95) !important;
    opacity: 1 !important;
}

.jGrowl-closer {
    max-width: 300px !important;
    width: 100% !important;
    opacity: 1 !important;
    background-color: rgba(6, 71, 113, 0.95) !important;
}

.jGrowl-notification .jGrowl-header {
    font-size: 14px !important;
}

.notification-container {
    margin-top: 5px;
}

.notification-container .left-container {
    float: left;
}

.notification-container .left-container img {
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    margin: 3px 6px 0 0;
}

.notification-container .right-container {
    overflow: hidden;
}

.notification-container .right-container .message,
.notification-container .right-container .message p {
    word-break: initial;
    font-size: 13px;
    margin: 0;
    overflow: hidden;
}

.notification-container .right-container .message a,
.notification-container .right-container .message a:hover,
.notification-container .right-container .message a:visited,
.notification-container .right-container .message a:focus {
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-top: 0;
}

.notification-container .right-container .link {
    margin: 10px 0;
    overflow: hidden;
    padding: 0;
}
